<p>Dear {{ user.full_name }},</p>

<p>Thanks for topping up your <b>{{ app_name }}</b> wallet! Here's your receipt.</p>

<p>
Package: <b>{{ package_title }}</b><br>
Amount charged: <b>{{ amount }} {{ currency }}</b><br>
Credits added: <b>{{ credits }} credits</b><br>
New balance: <b>{{ new_balance }} credits</b><br>
Payment ID: <code>{{ payment_id }}</code><br>
Date: {{ date }}
</p>

<p>If you didn't make this purchase, please contact support right away.</p>

<p>Sincerely,</p>

<p>The {{ app_name }} Team</p>

<p><small>Note: replies to this address are not monitored.</small></p>
